<li class="list-group-item" id="item_<%= item.id %>">
  <span class="pull-left"><%= link_to "", user_item_path(item.user_id, item.id), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %></span> 
  <div class="col-md-10 npr"><%= item.name %></div>
  <div>
  <span class="pull-right"><%= distance_of_time_in_words(Time.now, item.created_at + 7.days, false, highest_measure_only: true) %></span>
  </div>
</li>