$('.flash').show().html("<div class='alert alert-success'>Item removed</div>");
setTimeout(function() {
	$('.flash').slideUp('slow', null);
	$('#item_<%= @item.id %>').slideUp('slow', null);
}, 1000);