$('.flash').show().html("<div class='alert alert-success'>Item removed</div>");
$('#item_<%= @item.id %>').slideUp('slow', function(){ $('#item_<%= @item.id %>').remove(); });

setTimeout(function() {
	$('.flash').slideUp('slow', null);
}, 2000);